    <div class="row" style="display: flex;">
	<div class="col-md-6 menubar">
          <h3>{{ 'conference.room' | translate }} {{preferences.room}}<h3>
	</div>
	<div class="col-md-6 menubar">
    	  <div class="navbar-right navbar-btn">
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[preferences.conferenceLocked]" ng-click="toggleConferenceLock()" ng-hide="!localMember.moderator" tooltip="{{ preferences.conferenceLocked && ('conference.unlock_tooltip' | translate) || ('conference.lock_tooltip' | translate) }}" tooltip-placement="bottom"><span class="glyphicon glyphicon-lg" ng-class="preferences.conferenceLocked && 'glyphicon-globe' || 'glyphicon-lock'"></span></button>
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[!sharingCameraControl]" ng-click="toggleCameraControl()" ng-hide="!localMember.haveCameraControl" tooltip="{{ sharingCameraControl && ('conference.disallow_camera_control_tooltip' | translate) || ('conference.allow_camera_control_tooltip' | translate) }}" tooltip-placement="bottom"><span class="glyphicon glyphicon-lg" ng-class="!sharingCameraControl && 'glyphicon-record' || 'glyphicon-ban-circle'"></span></button>
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[mutingMic]" ng-click="toggleMuteMic()" ng-hide="!sharingMic || (webrtcDetectedBrowser != 'chrome')" tooltip="{{ mutingMic && ('conference.unmute_mic_tooltip' | translate) || ('conference.mute_mic_tooltip' | translate) }}" tooltip-placement="bottom"><span class="glyphicon glyphicon-lg" ng-class="!mutingMic && 'glyphicon-volume-off' || 'glyphicon-volume-up'"></span></button>
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[mutingCam]" ng-click="toggleMuteCam()" ng-hide="!sharingCam || (webrtcDetectedBrowser != 'chrome')" tooltip="{{ mutingCam && ('conference.unmute_cam_tooltip' | translate) || ('conference.mute_cam_tooltip' | translate) }}" tooltip-placement="bottom"><span class="glyphicon glyphicon-lg" ng-class="!mutingCam && 'glyphicon-eye-close' || 'glyphicon-eye-open'"></span></button>
    	    <button class="btn btn-default btn-primary navbar-btn" ng-click="showConferenceLink()" tooltip="{{ 'conference.show_link' | translate }}" tooltip-placement="bottom"><span class="glyphicon glyphicon-lg glyphicon-link"></span></button>
    	    <button class="btn btn-default btn-primary navbar-btn" ng-click="confirmLeaveConference()" tooltip="{{ 'conference.leave' | translate }}" tooltip-placement="bottom"><span class="glyphicon glyphicon-lg glyphicon-remove"></span></button>
    	  </div>
	</div>
    </div>
    <div class="row" style="display: flex;">
	<div class="col-md-7 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px; background: #00550;">
	    <div class="wrapper-4-by-3">
		<div class="element-with-aspect-ratio">
		    <div class="video_overlay" style="color: #fcfcfc; background: #005c97;">
			<div style="width: 25%; vertical-align: middle; float: left;">&nbsp;</div>
			<div class="text-center" style="width: 50%; vertical-align: middle; float: left;">
		    	    <h4>{{bigScreenName | limitTo: 30}}</h4>
			</div>
			<div style="padding-right: 10px; width: 25%; vertical-align: middle; float: left;">
			    <button type="button" class="btn btn-default btn-sm navbar-btn pull-right" ng-click="fullscreen()" tooltip="{{ 'conference.fullscreen_tooltip' | translate }}" tooltip-placement="right"><span class="glyphicon glyphicon-fullscreen"></span></button>
			    <div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-sm navbar-btn dropdown-toggle" data-toggle="dropdown" tooltip="{{ 'conference.settings_tooltip' | translate }}" tooltip-placement="left"><span class="glyphicon glyphicon-cog"></span></button>
				<ul class="dropdown-menu" role="menu">
		    		    <li><div class="input-group"><span class="input-group-addon" ng-click="bigScreenAuto = !bigScreenAuto"><input type="checkbox" ng-model="bigScreenAuto"> {{ 'conference.automatic_video_switching' | translate }}</span></div>
		    		</ul>
			    </div>
			</div>
		    </div>
		    <video id="bigScreen" style="width: 100%;" autoplay muted ng-class="{true: 'mirror'}[bigScreenMirror] + ' ' + {true: '', false: 'video-max-height'}[isFullscreen]"/>
		</div>
	    </div>
	</div>
	<div class="col-md-5 col-sm-12 hidden-xs" style="background: #00555;" ng-controller="ChatCtrl">
	    <div class="row-fluid" ng-hide="endsAt == 0">
		<div class="col-md-12 well text-center" style="margin-left: 5px; margin-bottom: 5px;">
		    <span class="glyphicon glyphicon-time"></span>
		    {{ 'conference.countdown' | translate:countdown }} {{endtimer.seconds}}
		    <timer ng-attr-end-time="endsAt" max-time-unit="hour" interval="1000">{{ '' }}</timer>
		</div>
	    </div>
	    <div class="row-fluid">
		<div id="chatMessages" class="col-md-12 well" ng-style="chatMessagesStyle">
		    <div ng-repeat="message in messages track by $index">
			<strong>{{message.from}}</strong>
			<span ng-bind-html="message.text | linky:{target:'_blank'}"></span>
		    </div>
		</div>
	    </div>
	    <div class="row-fluid">
		<div class="col-md-12 text-center" style="margin-top: 0px;">
		    <form  ng-submit="sendChatMessage()">
			<input type="text" class="form-control" id="messageText" value="{{chatMessage}}" placeholder="{{ 'chat.enter_message' | translate }}" ng-model="chatMessage"/>
		    </form>
		</div>
	    </div>
	    </div>
      </div>
    </div>

    <div class="row">
	<div ng-repeat="(memberID, member) in members track by memberID | orderBy:'name':reverse" class='col-xs-4 cols-sm-3 col-md-2' id='video_box-{{member.memberID}}' style="padding: 0px; padding-right: 5px; margin-top: 5px;">
	    <div class="wrapper-4-by-3">
		<div class="element-with-aspect-ratio" ng-mouseenter="mouseEnter(member)" ng-mouseleave="mouseLeave(member)">
		    <div class='video_overlay text-center' ng-click="putOnBigScreen(member.memberID, member.mirror)">
			<div class='row text-center' style="color: #fcfcfc; background: #005c97; padding: 0px; margin: 0px;">
			    <div>
		    		<p>{{member.name | limitTo: 15}}</p>
			    </div>
			    <div style="position: absolute; top: 5px; background: #aa0000;" ng-hide="!member.micMuted"">
		    		<span class="glyphicon glyphicon-volume-off" style="padding-left: 10px;"/>
			    </div>
			</div>
			<div style="position: absolute; top: 5px; right: 5px; background: #aa0000;" ng-show="member.showOverlay">
			    <div class="btn-group pull-right">
		    		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"  ng-show="localMember.moderator && (member.memberID != localMember.memberID)"><span class="glyphicon glyphicon-cog"></span></button>
		    		<ul class="dropdown-menu" role="menu" ng-show="localMember.moderator && (member.memberID != localMember.memberID)">
				    <li><a ng-click="kick(member)" translate="conference.kick">Kick</a></li>
		    		</ul>
		    		<button type="button" class="btn btn-default btn-sm" ng-keyup="cameraControl(memberID, $event.keyCode)" ng-show="member.allowCameraControl && member.haveCameraControl"><span class="glyphicon glyphicon-facetime-video"></span></button>
			    </div>
			</div>
		    </div>
		    <video id="video-{{member.memberID}}" style="width: 100%;" ng-class="{true:'mirror'}[member.mirror]" autoplay/>
		</div>
	    </div>
	</div>
    </div>
    <p ng-repeat="camera in cameras track by camera.id">
	{{camera.name}} 
    </p>
