    <div class="row" style="display: flex;">
	<div class="col-md-6 menubar">
          <h3>Room {{preferences.room}} <a href=""><span class="glyphicon glyphicon-link" ng-click="showConferenceLink()"></span></a><h3>
	</div>
	<div class="col-md-6 menubar">
    	  <div class="navbar-right navbar-btn">
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[!sharingCameraControl]" ng-click="toggleCameraControl()" ng-hide="!localMember.haveCameraControl">{{!sharingCameraControl && 'Allow' || 'Disallow'}} camera control</button>
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[mutingMic]" ng-click="toggleMuteMic()" ng-hide="!sharingMic || (webrtcDetectedBrowser != 'chrome')">{{!mutingMic && 'Mute' || 'Unmute'}} microphone</button>
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[mutingCam]" ng-click="toggleMuteCam()" ng-hide="!sharingCam || (webrtcDetectedBrowser != 'chrome')">{{!mutingCam && 'Mute' || 'Unmute'}} camera</button>
    	    <button class="btn btn-default navbar-btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[preferences.conferenceLocked]" ng-click="toggleConferenceLock()" ng-hide="!localMember.moderator">{{preferences.conferenceLocked && 'Unlock' || 'Lock'}}</button>
    	    <button class="btn btn-default btn-primary navbar-btn" ng-click="leaveConference()">Exit</button>
    	  </div>
	</div>
    </div>
    <div class="row" style="display: flex;">
	<div class="col-md-7" style="padding-left: 0px; padding-right: 0px; background: #00550;">
	    <div class="wrapper-4-by-3">
		<div class="element-with-aspect-ratio">
		    <div class="video_overlay_big video_overlay_opacity" style="color: #fcfcfc; background: #005c97;">
			<div style="width: 25%; vertical-align: middle; float: left;">&nbsp;</div>
			<div class="text-center" style="width: 50%; vertical-align: middle; float: left;">
		    	    <h4>{{bigScreenName | limitTo: 30}}</h4>
			</div>
			<div style="padding-right: 10px; width: 25%; vertical-align: middle; float: left;">
			    <button type="button" class="btn btn-default btn-sm navbar-btn pull-right" ng-click="fullscreen()"><span class="glyphicon glyphicon-fullscreen"></span></button>
			    <div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-sm navbar-btn dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
				<ul class="dropdown-menu" role="menu">
		    		    <li><div class="input-group"><span class="input-group-addon"><input type="checkbox" ng-model="bigScreenAuto"> Automatic video switching</span></div>
		    		</ul>
			    </div>
			</div>
		    </div>
		    <video id="bigScreen" style="width: 100%;" autoplay muted  ng-class="{true: 'mirror'}[bigScreenMirror]"/>
		</div>
	    </div>
	</div>
	<div class="col-md-5" style="background: #00555;" ng-controller="ChatCtrl">
	    <div class="row-fluid" ng-hide="endsAt == 0">
		<div class="col-md-12 well" style="margin-left: 5px; margin-bottom: 5px;">
		    <timer ng-attr-end-time="endsAt" max-time-unit="hour" interval="1000">Conference ends in {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds</timer>
		</div>
	    </div>
	    <div class="row-fluid">
		<div id="chatMessages" class="col-md-12 well" ng-style="chatMessagesStyle">
		    <div ng-repeat="message in messages track by $index">
			<strong>{{message.from}}</strong>
			{{message.text}}
		    </div>
		</div>
	    </div>
	    <div class="row-fluid">
		<div class="col-md-12 text-center" style="margin-top: 0px;">
		    <form  ng-submit="sendChatMessage()">
			<input type="text" class="form-control" id="messageText" value="{{chatMessage}}" placeholder="enter a chat message and press enter" ng-model="chatMessage"/>
		    </form>
		</div>
	    </div>
	    </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-left" id="membersDiv" style="padding-left: 0px; padding-right: 0px; margin-top: 5px;">
	<div ng-repeat="(memberID, member) in members track by memberID | orderBy:'name':reverse" class='col-md-1 video_box_small' id='video_box-{{member.memberID}}'>
	    <div class='video_overlay_small video_overlay_opacity text-center' ng-click="putOnBigScreen(member.memberID, member.mirror)" ng-mouseenter="mouseEnter(member)" ng-mouseleave="mouseLeave(member)">
		<div class='row text-center' style="color: #fcfcfc; background: #005c97; padding: 0px; margin: 0px;">
		    <div>
		        <p>{{member.name | limitTo: 10}}</p>
		    </div>
		    <div style="position: absolute; top: 5px; background: #aa0000;" ng-hide="!member.micMuted"">
		        <span class="glyphicon glyphicon-volume-off" style="padding-left: 10px;"/>
		    </div>
		</div>
		<div style="position: absolute; top: 5px; left: 120px; background: #aa0000;" ng-show="localMember.moderator && (member.memberID != localMember.memberID) && member.showOverlay">
		    <div class="btn-group pull-right">
		        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
		        <ul class="dropdown-menu" role="menu">
				<li><a ng-click="kick(member)">Kick</a></li>
		    	</ul>
		    </div>
		</div>
		<div style="position: absolute; bottom: 5px; left: 120px; background: #aa0000;" ng-show="member.allowCameraControl && member.haveCameraControl">
		    <div class="btn-group pull-right">
		        <button type="button" class="btn btn-default btn-sm" ng-keyup="cameraControl(memberID, $event.keyCode)"><span class="glyphicon glyphicon-facetime-video"></span></button>
		    </div>
		</div>
	    </div>
	    <video id="video-{{member.memberID}}" width=160 height=120 ng-class="{true:'mirror'}[member.mirror]" autoplay/>
	</div>
      </div>
    </div>
    <p ng-repeat="camera in cameras track by camera.id">
	{{camera.name}} 
    </p>
